.Main {
  .section {
    &.header {
      border-bottom: 4px solid black;
      text-align: center;

      .headerInner {
        width: 100%;
        padding: 0 10px;

        .buttonGroup {
          display: flex;
          justify-content: space-between;
          align-items: center;

          .searchBar {
            display: inline-block;

            .searchForm {
              display: flex;

              .searchInput {
                font-size: 1.25rem;
                padding: 3px;
              }
            }
          }

          .selectOption {
            padding: 10px;
            border-radius: 5px;

            cursor: pointer;
          }
        }
      }
    }

    .postList {
      display: grid;
      grid-template-rows: auto;
      gap: 20px;
      height: 100%;
      margin: 0;
      padding: 20px 10px;
      list-style-type: none;
    }

    &.footer {
      .footerInner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        padding: 0 10px;
      }
    }
  }
}
