.main {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  display: grid;
  grid-template-rows: 80px 360px 50px;
  width: 50%;
  background-color: lightcyan;
}

.card .section:nth-child(1) {
  text-align: center;
}

.card .section:nth-last-child(1) {
  text-align: center;
}

.post-list {
  padding: 20px 50px;
  list-style-type: none;
}

.page-number-list {
  padding: 0;
  list-style-type: none;
}

.page-number-list li {
  display: inline-block;
  padding: 2px;
  color: lightslategray;
  cursor: pointer;
}

.page-number-list .current-page-number {
  color: black;
}
