.Main {
  .section {
    &.header {
      border-bottom: 4px solid black;
      text-align: center;

      .buttonGroup {
        display: flex;
        align-items: center;

        .searchBar {
          display: inline-block;

          .searchForm {
            display: flex;
            margin: 0 5px;

            .searchInput {
              font-size: 1.25rem;
              padding: 3px;
            }
          }
        }

        .selectOption{
          padding: 10px;
          margin-right: 5px;
          border-radius: 5px;

          cursor: pointer;
        }
      }
    }

    .postList {
      display: grid;
      grid-template-rows: repeat(5, 1fr);
      gap: 10px;
      height: 100%;
      padding: 10px;
      list-style-type: none;
      border-bottom: 4px soild black;
    }

    .pageNumberList {
      padding: 0;
      list-style-type: none;

      li {
        display: inline-block;
        margin: 0 5px;
        color: lightslategray;
        cursor: pointer;
      }

      .currentPageNumber {
        color: black;
      }
    }
  }

  .section:nth-child(1) {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .section:nth-last-child(1) {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
