.card .section-board:nth-child(1) {
  text-align: center;
}

.card .section-board:nth-last-child(1) {
  text-align: center;
}

.post-list {
  padding: 20px 50px;
  list-style-type: none;
}

.page-number-list {
  padding: 0;
  list-style-type: none;
}

.page-number-list li {
  display: inline-block;
  padding: 2px;
  color: lightslategray;
  cursor: pointer;
}

.page-number-list .current-page-number {
  color: black;
}
