.postItem {
  display: grid;
  grid-template-rows: auto 1fr;
  gap: 5px;
  height: 100%;
  border: solid 4px black;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-color: white;

  .info {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 5px 10px;
    .author {
      cursor: pointer;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  .title {
    display: flex;
    align-items: center;
    padding: 10px;
    border-top: 4px solid black;
    color: rgb(50, 50, 50);
    font-size: 1.25rem;
    cursor: pointer;

    &:hover {
      background-color: #f5f5f5;
      color: black;
      text-decoration: underline;
    }
  }
}
