.SinglePost {
  .section {
    padding: 10px;

    .infos {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
    }

    p{
      font-size: 1.25rem;
    }
  }

  .section:nth-child(1) {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .section:nth-child(2) {
    border-top: 4px solid black;
    border-bottom: 4px solid black;
  }

  .section:nth-child(3) {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
