.AddPost {
  .section {
    padding: 10px;
    font-size: 1rem;

    label {
      display: inline-block;
      padding: 10px 0;
    }

    .title,
    .content {
      width: 100%;
      padding: 5px;
      font-size: 1.25rem;
    }

    .content {
      height: 380px;
      margin-bottom: 10px;
      font-size: 1.25rem;
      resize: none;
    }
  }

  .section:nth-child(2) {
    border-top: 4px solid black;
    border-bottom: 4px solid black;
  }
}
