.post-detail {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.post-detail .section-post {
padding: 10px;
}

.post-detail .section-post .infos{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-bottom: 10px;
}

.post-detail button {
    margin-right: 10px;
    cursor: pointer;
}