.Button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: rgb(50, 50, 50);

  color: white;

  cursor: pointer;

  & + .Button {
    margin-left: 5px;
  }

  &:hover {
    background-color: black;
  }
}
