.CardPage {
  width: 100%;
  display: flex;
  justify-content: center;

  .card {
    display: grid;
    grid-template-rows: 120px auto 64px;
    width: 50%;
    margin-top: 10px;
    border: solid 4px black;
    border-radius: 20px;
    background-color: white;
  }

  .section:nth-child(1) {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .section:nth-child(2) {
    min-height: 524px;
  }

  .section:nth-child(3) {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
