.CardPage {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;

  .card {
    display: grid;
    grid-template-rows: 120px 526px 64px;
    width: 50%;
    height: 720px;
    margin-top: 10px;
    border: solid 4px black;
    border-radius: 20px;
    background-color: white;
  }
}
